{{page-title (t 'pages.dashboard.title')}}
<BurgerMenu @animation="push" @translucentOverlay={{true}} as |burger|>
  <burger.outlet>

    <NavbarHeader @burger={{burger}} />

    <h1 class="sr-only">{{t 'pages.dashboard.title'}}</h1>

    {{#unless this.hasUserSeenNewDashboardInfo}}
      <section class="page-container dashboard-content">
        <NewInformation @information="{{t 'pages.dashboard.presentation' firstname=this.userFirstname}}"
                        @image="/images/discovery_TDB_pix.svg"
                        @backgroundColorClass="new-information--blue-gradient-background"
                        @textColorClass="new-information--white-text"
                        @closeaction={{this.closeInformationAboutNewDashboard}}/>
      </section>
    {{/unless}}

    <Dashboard::Content @model={{this.model}} />

    <Footer />
  </burger.outlet>
</BurgerMenu>
